project:
  type: website
  output-dir: docs
  
website:
  title: "Lynda Kellam Portfolio"
  navbar:
    right:
      - text: "Home"
        href: index.qmd
      - text: "About"
        href: about.qmd
      - text: "CV"
        href: cv.qmd
format:
  html:
    theme: flatly
